page-home {

}

.btn {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px ;
  }

.btn-0 {
    height: 50px;
    width: 100px;
    border-radius: 20%;
    border: 2px ;
}

.numbers {
    font-size: 2.5em;
    text-align: center;
}

.calc {
    div{margin-top:60px;}
}